<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Sender</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{../static/style.css}" />
</head>
<body>

<header class="navbar">
    <div class="navbar-container">
        <div class="logo">EMAIL SENDER</div>
        <div class="navbar-nav">
            <div class="nav-link-container"><a href="/#">Home</a></div>
            <a href="/#">About</a>
            <a href="/#">Contact</a>
        </div>
    </div>
</header>

<section class="jumbotron">
    <div class="jumbotron-container">
        <h1 class="jumbotron-title">About</h1>
        <a class="btn btn-primary" href="#" role="button">Get Started</a>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <p class="footer-text">&copy; 2023 Email Sender. All rights reserved.</p>
    </div>
</footer>

</body>
</html>